{% extends 'AppBundle:Backend:index.html.twig' %}
{#{% block menu %}{{ parent() }}{% endblock %}#}
{% block cuerpo %}

    <form action="" method="post" {{ form_enctype(formulario) }}>

        {{ form_widget(formulario) }}

        <input type="submit" />
    </form>

{% endblock %}